.navbar {
  background: rgba(60, 172, 174, 0.63);
  padding: 0; }

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif; }

.font-quick {
  font-family: 'Quicksand', sans-serif; }

.color-green {
  color: #0A847E; }

.color-open-text {
  color: #C16CBB; }

.bg-lighter-green {
  background-color: #5BD6C1; }

.color-pink {
  color: #EEB5EB; }

.color-red {
  color: #FF2768; }

.color-navbar {
  color: #3CACAE; }

.long-underline {
  display: inline-block;
  padding: 0 50px;
  border-bottom: 2px solid; }

.col {
  flex: 0 0 0% !important; }

.wrapper-image {
  background-image: url(../media/images/wrapper.png);
  background-size: cover;
  width: 260px;
  height: 70px; }
  .wrapper-image:hover {
    background-image: url(../media/images/selected-wrapper.png);
    cursor: pointer; }

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.nav-link {
  text-decoration: none;
  color: black;
  padding: 3rem 1rem; }

.nav-link:hover {
  color: black; }

.nav-link:visited {
  color: black; }

.fa-bars {
  margin: 1rem;
  font-size: 36px; }

.container-hero {
  height: 90vh;
  background-image: url(https://res.cloudinary.com/db8t2tgov/image/upload/v1645204565/Sin_ti%CC%81tulo_1080_1080_px_4_j4fbpu.png);
  background-size: cover;
  display: flex;
  justify-content: space-between; }
  .container-hero > * {
    margin: 5rem; }

.logo {
  height: 251px; }
