@charset "UTF-8";
.navbar {
  background: rgba(60, 172, 174, 0.63);
  padding: 0; }

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0rem 5rem; }

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 3rem 1rem; }

.nav-link:hover {
  color: black; }

.nav-link:visited {
  color: black; }

.fa-bars {
  margin: 1rem;
  font-size: 36px; }

.hero-img-bg {
  height: 86vh;
  background-image: url(../media/images/heroBG.png);
  background-size: cover;
  max-width: 100%; }

.container-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 13rem;
  max-width: 100%; }
  .container-hero > * {
    margin-bottom: 7rem; }
  .container-hero h1 {
    font-family: Quicksand;
    font-size: 3.4375rem;
    font-weight: 400;
    line-height: 69px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.logo {
  max-height: 80%;
  height: 251px; }

.cont-elements-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

@media only screen and (min-width: 1722px) {
  .container-hero {
    margin: 0rem 20rem; } }

@media only screen and (min-width: 1425px) and (max-width: 1721px) {
  .container-hero {
    margin: 0rem 10rem; } }

@media only screen and (min-width: 1125px) and (max-width: 1424px) {
  .container-hero {
    margin: 0rem 5rem; }
  h1 {
    font-size: 2.7rem !important; }
  .contenedor-escuela img {
    width: 50% !important; } }

@media only screen and (min-width: 925px) and (max-width: 1124px) {
  .container-hero {
    margin: 0rem 1rem; }
    .container-hero h1 {
      font-size: 2.5rem; } }

@media only screen and (max-width: 924px) {
  .container-hero {
    margin: 0rem 1rem; }
    .container-hero h1 {
      display: none; }
  .hero-img-bg {
    background-position: center; }
  .logo {
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13rem;
    margin-bottom: 1rem; } }

.FAQ summary {
  font-family: Ubuntu;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 23px;
  padding-bottom: 1.5625rem; }

.FAQ p {
  font-family: Ubuntu;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 21px; }

.container-faq {
  margin: 3.75rem 5rem; }

.profesorado-texto {
  font-size: 1.5rem; }

.contenedor-texto-certificado {
  display: flex;
  justify-content: center;
  margin: 1rem 5rem; }
  .contenedor-texto-certificado p {
    font-size: 1.5rem;
    text-align: center; }

.contenedor-texto-enseñanza {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .contenedor-texto-enseñanza img {
    width: 40%; }
  .contenedor-texto-enseñanza h3 {
    font-size: 3rem; }

.contenedor-ensenanza {
  margin: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedor-ensenanza p {
    font-size: 1.5rem; }

.image-profesorado-hero {
  width: 50%;
  height: 100%; }

.contenedor-texto-duracion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5rem; }
  .contenedor-texto-duracion h3 {
    font-size: 3rem; }
  .contenedor-texto-duracion p {
    font-size: 1.5rem;
    margin-top: 2rem; }

.lista-horarios {
  font-size: 1.5rem;
  margin-left: 3rem; }

.contenedor-texto-certificado p {
  margin-top: 2rem; }

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif; }

.font-quick {
  font-family: 'Quicksand', sans-serif; }

.color-green {
  color: #0a847e; }

.color-open-text {
  color: #C16CBB; }

.bg-lighter-green {
  background-color: #5BD6C1; }

.color-pink {
  color: #EEB5EB; }

.color-red {
  color: #FF2768; }

.long-underline {
  display: inline-block;
  padding: 0 50px;
  border-bottom: 2px solid; }

.col {
  flex: 0 0 0% !important; }

.wrapper-image {
  background-image: url(../media/images/wrapper.png);
  background-size: cover;
  width: 260px;
  height: 70px; }
  .wrapper-image:hover {
    background-image: url(../media/images/selected-wrapper.png);
    cursor: pointer; }

.container-carousel {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5rem; }

.imagenCarousel {
  width: 25%;
  padding: .65rem; }

.containerServicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container-txt-profesorado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center; }
  .container-txt-profesorado h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .container-txt-profesorado p {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    width: 80%;
    margin-top: 2rem; }

.font-44 {
  font-size: 2.75rem; }

.p-75 {
  padding-top: 4.6875rem; }

button {
  background-color: transparent;
  border: none; }

#cerrarEscuela {
  cursor: pointer;
  margin-bottom: 3rem;
  height: 4rem; }

#cerrarProfesorado {
  cursor: pointer;
  margin-bottom: 3rem;
  height: 4rem; }

.btnVerde {
  color: white;
  padding: 1.3125rem 4.25rem;
  background-color: #5BD6C1;
  text-decoration: none;
  font-size: 1.75rem;
  border-radius: 60px;
  width: fit-content; }

.btnVerde:hover {
  color: white; }

#btnEscuela {
  font-size: 2.25rem;
  font-weight: 600; }

#btnProfesorado {
  font-size: 2.25rem;
  font-weight: 600; }

.escuela-row {
  background-image: url(../media/images/vector-escuela.png);
  background-size: cover; }
  .escuela-row__texto {
    font-size: 1.6875rem;
    font-weight: 600; }
  .escuela-row__texto-clases {
    font-size: 1.5875rem;
    font-weight: 600;
    margin: 2rem 3rem; }

.contenedor-profesorado {
  width: 70%; }

.contenedor-escuela {
  width: 70%; }

@media only screen and (min-width: 1125px) and (max-width: 1424px) {
  .container-aturitmo {
    flex-direction: column; }
    .container-aturitmo img {
      margin: 0 auto; }
  .clases-requisitos {
    flex-direction: column !important; }
  .container-txt-profesorado p {
    font-size: 1.2rem; }
  .contenedor-hero-profesorado {
    flex-direction: column-reverse !important; }
    .contenedor-hero-profesorado img {
      margin: auto; }
  .clases-requisitos {
    flex-direction: column !important; }
  .profesorado-texto {
    font-size: 1.3rem;
    text-align: center; }
  .contenedor-ensenanza p {
    font-size: 1.2rem; } }

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .clases-requisitos {
    flex-direction: column !important; }
  .escuela-row__texto {
    font-size: 1.4rem;
    width: 70vw;
    text-align: center; }
  .contenedor-escuela {
    align-items: center;
    width: 100%; }
    .contenedor-escuela img {
      max-width: 80%; }
  #btnEscuela {
    font-size: 1.9rem;
    font-weight: 600; }
  #btnProfesorado {
    font-size: 1.9rem;
    font-weight: 600; }
  .contenedor-profesorado {
    align-items: center;
    width: 100%; }
    .contenedor-profesorado img {
      max-width: 80%; }
  #cerrarEscuela {
    margin-bottom: 1rem;
    margin-top: 3rem;
    height: 3rem; }
  #cerrarProfesorado {
    margin-bottom: 1rem;
    margin-top: 3rem;
    height: 3rem; }
  .div-botones {
    flex-direction: column;
    align-items: center; }
  .container-txt-profesorado p {
    width: 80%;
    font-size: 1.5rem; }
  iframe {
    width: 95vw; }
  .logos-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .logos-container img {
      width: 8rem; }
  .container-carousel {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem; }
    .container-carousel img {
      width: 50%; }
  .font-44 {
    font-size: 30px;
    text-align: center; }
  .container-faq {
    width: fit-content; }
  .btnVerde {
    font-size: 1rem;
    padding: 1rem 2rem; }
  .contenedor-texto-duracion h3 {
    font-size: 2rem;
    text-align: center; }
  .lista-horarios {
    font-size: 1.2rem;
    margin: 0; }
  .contenedor-texto-duracion {
    margin: 0 2rem; }
  .container-aturitmo {
    flex-direction: column !important; }
    .container-aturitmo img {
      margin: 0 auto;
      width: 80%; }
  .contenedor-texto-enseñanza h3 {
    font-size: 2rem; }
  .contenedor-texto-certificado p {
    font-size: 1.2rem; }
  .contenedor-texto-duracion p {
    font-size: 1.2rem;
    text-align: center; }
  .contenedor-texto-enseñanza img {
    width: 100%; } }

.imageLaEscuela {
  width: 80%; }

.contenedor-profesorado {
  flex-direction: row !important; }

@media only screen and (min-width: 1125px) and (max-width: 1424px) {
  .imagenServicios {
    width: 50% !important; }
  .container-txt-profesorado p {
    font-size: 1.5rem; } }

@media only screen and (max-width: 924px) {
  .contenedor-escuela {
    flex-direction: column !important; }
  .contenedor-profesorado {
    flex-direction: column !important; }
  .imagenServicios {
    width: 50% !important;
    margin-right: auto;
    margin-left: auto; }
  .container-txt-profesorado p {
    font-size: 1.5rem; }
  .contenedor-hero-profesorado {
    flex-direction: column-reverse !important; }
    .contenedor-hero-profesorado img {
      margin: auto; }
  .contenedor-ensenanza {
    flex-direction: column; }
  .profesorado-texto {
    font-size: 1.2rem;
    text-align: center; }
  .contenedor-ensenanza p {
    font-size: 1.2rem;
    text-align: center; } }

@media only screen and (min-width: 925px) and (max-width: 1124px) {
  .contenedor-escuela {
    flex-direction: column !important; }
  .contenedor-profesorado {
    flex-direction: column !important; }
  .imagenServicios {
    width: 50% !important;
    margin-right: auto;
    margin-left: auto; }
  .container-txt-profesorado p {
    font-size: 1.5rem; }
  .profesorado-texto {
    font-size: 1.3rem;
    text-align: center; }
  .contenedor-hero-profesorado {
    flex-direction: column-reverse !important; }
    .contenedor-hero-profesorado img {
      margin: auto; }
  .contenedor-ensenanza {
    flex-direction: column !important; }
  .container-aturitmo {
    flex-direction: column; }
    .container-aturitmo img {
      margin: 0 auto; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif; }
