.hero-img-bg {
    height: 86vh;
    background-image: url(../media/images/heroBG.png);
    background-size: cover;
    max-width: 100%;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 13rem;
    max-width: 100%;
    & >* {
        margin-bottom: 7rem;
    }
    & h1 {
        font-family: Quicksand;
        font-size: 3.4375rem;
        font-weight: 400;
        line-height: 69px;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.logo {
    max-height: 80%;
    height: 251px;
}

.cont-elements-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

@media only screen and (min-width : 1722px) {
    .container-hero {
        margin: 0rem 20rem;
    }

}
@media only screen and (min-width : 1425px) and (max-width : 1721px) {
    .container-hero {
        margin: 0rem 10rem;
    }

}

@media only screen and (min-width : 1125px) and (max-width : 1424px) {
    .container-hero {
        margin: 0rem 5rem;
    }
    & h1 {
        font-size: 2.7rem!important;
    }
    .contenedor-escuela {
        & img {
            width: 50%!important;
        }
    }
    

}

@media only screen and (min-width : 925px) and (max-width : 1124px) {
    .container-hero {
        margin: 0rem 1rem;
        & h1 {
            font-size: 2.5rem;
        }
    }
}
@media only screen and (max-width : 924px) {
    .container-hero {
        margin: 0rem 1rem;
        & h1 {
            display: none;
        }
    }
    .hero-img-bg {
        background-position: center;
    }
    .logo {
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13rem;
        margin-bottom: 1rem;
    }
}
//min-width: para que se aplique, tiene que tener como minimo X px

