.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.font-quick {
    font-family: 'Quicksand', sans-serif;
}

.color-green {
    color: rgba(10, 132, 126, 1);
}

.color-open-text {
    color: #C16CBB;
}

.bg-lighter-green {
    background-color: #5BD6C1;
}

.color-pink {
    color: #EEB5EB;
}

.color-red {
    color: #FF2768;
}

.long-underline {
    display: inline-block;
    padding: 0 50px;
    border-bottom: 2px solid;
}

// RESET
.col {
    flex: 0 0 0% !important;
}

.wrapper-image {
    background-image: url(../media/images/wrapper.png);
    background-size: cover;
    width: 260px;
    height: 70px;

    &:hover {
        background-image: url(../media/images/selected-wrapper.png);
        cursor: pointer;
    }
}

//carousel
.container-carousel {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5rem;
}

.imagenCarousel {
    width: 25%;
    padding: .65rem;
}

.containerServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-txt-profesorado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;

    & h2 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    & p {
        font-size: 1.875rem;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
        width: 80%;
        margin-top: 2rem;
    }
}

.font-44 {
    font-size: 2.75rem;
}

.p-75 {
    padding-top: 4.6875rem;
}

button {
    background-color: transparent;
    border: none;
}

#cerrarEscuela {
    cursor: pointer;
    margin-bottom: 3rem;
    height: 4rem;

}

#cerrarProfesorado {
    cursor: pointer;
    margin-bottom: 3rem;
    height: 4rem;
}

.btnVerde {
    color: white;
    padding: 1.3125rem 4.25rem;
    background-color: #5BD6C1;
    text-decoration: none;
    font-size: 1.75rem;
    border-radius: 60px;
    width: fit-content;
}

.btnVerde:hover {
    color: white;
}


#btnEscuela {
    font-size: 2.25rem;
    font-weight: 600;
}

#btnProfesorado {
    font-size: 2.25rem;
    font-weight: 600;
}

.escuela-row {
    background-image: url(../media/images/vector-escuela.png);
    background-size: cover;

    &__texto {
        font-size: 1.6875rem;
        font-weight: 600;
        width: 36.5625rem;
    }
    &__texto-clases{
        font-size: 1.9875rem;
        font-weight: 600;
        width: 60.5625rem;
        margin-top: 3rem;
    }
}



.contenedor-profesorado {
    width: 70%;
}

.contenedor-escuela {
    width: 70%;

}

@media only screen and (min-width: 200px) and (max-width: 500px) {

    .clases-requisitos{
        padding-left: 9rem;
    }

    .escuela-row {
        &__texto {
            font-size: 1.4rem;
            width: 70vw;
            text-align: center;
        }
    }

    .contenedor-escuela {
        align-items: center;
        width: 100%;

        img {
            max-width: 80%;
        }
    }

    #btnEscuela {
        font-size: 1.9rem;
        font-weight: 600;
    }

    #btnProfesorado {
        font-size: 1.9rem;
        font-weight: 600;
    }

    .contenedor-profesorado {
        align-items: center;
        width: 100%;

        img {
            max-width: 80%;
        }
    }

    #cerrarEscuela {
        margin-bottom: 1rem;
        margin-top: 3rem;
        height: 3rem;
    }

    #cerrarProfesorado {
        margin-bottom: 1rem;
        margin-top: 3rem;
        height: 3rem;
    }

    .div-botones {
        flex-direction: column;
        align-items: center;
    }

    .container-txt-profesorado p {
        width: 80%;
        font-size: 1.5rem;
    }

    iframe {
        width: 95vw;
    }

    .logos-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 8rem;
        }
    }

    .container-carousel {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3rem;

        & img {
            width: 50%;
        }
    }

    .font-44 {
        font-size: 30px;
        text-align: center;
    }

    .container-faq {
        width: fit-content;
    }

    .btnVerde {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

.imageLaEscuela {
    width: 80%;
}

.contenedor-profesorado {
    flex-direction: row !important;
}


@media only screen and (min-width : 1125px) and (max-width : 1424px) {
    .imagenServicios {
        width: 50% !important;
    }
    .container-txt-profesorado p {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width : 924px) {
    .contenedor-escuela {
        flex-direction: column!important;
    }
    .contenedor-profesorado {
        flex-direction: column!important;
    }
    .imagenServicios {
        width: 50% !important;
        margin-right: auto;
        margin-left: auto;
    }
    .container-txt-profesorado p {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width : 925px) and (max-width : 1124px) {
    .contenedor-escuela {
        flex-direction: column!important;
    }
    .contenedor-profesorado {
        flex-direction: column!important;
    }
    .imagenServicios {
        width: 50% !important;
        margin-right: auto;
        margin-left: auto;
    }
    .container-txt-profesorado p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width : 1125px) and (max-width : 1424px) {
    .container-txt-profesorado p {
        font-size: 1.2rem;
    }
    }