.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-around
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 3rem 1rem;
}

.nav-link:hover {
    color: black;
}

.nav-link:visited {
    color: black;
}

.fa-bars {
    margin: 1rem;
    font-size: 36px;
}

.container-hero {
    height: 90vh;
    background-image: url(https://res.cloudinary.com/db8t2tgov/image/upload/v1645204565/Sin_ti%CC%81tulo_1080_1080_px_4_j4fbpu.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;

    &>* {
        margin: 5rem;
    }
}

.logo {
    height: 251px;
}