@import 'navBar';
@import 'hero';
@import 'faq';
@import 'profesorado';
@import 'home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}